<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.nkouadio.bdroussi/tl/tp2/WL"
			class = "bdroussi.nkouadio.tl.tp2.wL.WLPackage"
			genModel = "model/generated/WL.genmodel" />
	</extension>
</plugin>
